{% extends _layout %}

{% block main_content %}
  {% if ( isset( records ) ) %}
    {# Lista de comentarios #}
    {% for row in records %}
      <div class="post" style="padding-right: 0px; background:#181818; margin-bottom: 15px;  -webkit-border-radius: 4px; color: white;">
        <div class="row">
          <div class="span4"><h2><a href="/ver_post/{{row.id}}">{{row.titulo}}</a> </h2></div>   

          <div class="span4">
            <p class="pull-right" style="font-size: 11px;"s>
              <i class="icon-user icon-white"></i> 
              <strong>{{row.user_username}}</strong> el día {{row.fecha}} / <a href="/temas/{{row.tag_nombre}}">{{row.tag_nombre}}</a>
            </p>
          </div>
        </div>  
        
        <p>{{row.contenido}}</p>
        
        <div class="row">  
          <div class="span4">
            <p class="pull-left" style="font-size: 11px;">
              {% if (current_user) %}
                Votos: 
                <a href="/guardarv/1/{{row.id}}"><i class="icon-plus icon-white"></i></a> ({{ row.gusta }}) 
                <a href="/guardarv/0/{{row.id}}"><i class="icon-minus icon-white"></i></a> ({{ row.no_gusta }})
              {% else %}
                Votos: <i class="icon-plus icon-white"> </i> ({{ row.gusta }})
                <i class="icon-minus icon-white"></i> ({{ row.no_gusta }})
              {% endif %}
            </p>  
          </div>

          <div class="span4"><p class="pull-right"><a href="/ver_post/{{row.id}}">{{row.comment_count}} Comments</a> </p></div>
        </div>  

      </div>
    {% endfor %}
  {% else %}
    <div class="well">
      <p><strong>Todavía no hay ningún ADD publicado! Inicia sesión y Comparte tu ADD con nosotros!</strong></p>
    </div>    
  {% endif %} 
{% endblock main_content %}